@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #222222;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.formSection::-webkit-scrollbar {
  display: none;
}

.formSection {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recentScroll::-webkit-scrollbar {
  width: 2px;
  border-radius: 2px;
}

.recentScroll::-webkit-scrollbar-track {
  background: #ececec;
}

.recentScroll::-webkit-scrollbar-thumb {
  background: #03243d96;
  border-radius: 3px;
  width: 4px;
}

.recentScroll::-webkit-scrollbar-thumb:hover {
  background: #03243d;
}
